# Copyright (c) 2026 Framework Computer Inc
# SPDX-License-Identifier: Apache-2.0

config BOARD_FRAMEWORK_WIRELESS_DONGLE
	select SOC_NRF54LM20A_CPUAPP if BOARD_FRAMEWORK_WIRELESS_DONGLE_NRF54LM20A_CPUAPP
